.MuiDropzoneArea-root.box{
    border-radius: 50px;
    min-height: 200px;
}
.dropbox {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
.img{
    margin-left: auto;
    margin-right: auto;
}

.ml{
    margin-left: auto;
}
.mr{
    margin-right: auto;
}
#hashtag{
    font-size: large;
}
#dept{
    font-size: large;
}
.center{
    margin-right: auto;
    margin-left: auto;
    width: 40%;
}
.box{
    border-radius: 40px;
}
